/* ADD YOUR CUSTOM CSS TO THIS FILE BELOW */
body {
font-family: Georgia, serif;
line-height: 175%;
margin: 0;
background: #06402B;
color: #ffffff;
text-align: center;
}

#section1 {
	padding: 3em 1em 2em 1em;
	font-weight: bolder;
	font-size: 18px;
	background-color: rgba(251, 243, 8, .5);
	border-bottom-left-radius: 200px;
	border-bottom-right-radius: 200px;
}

#section2 {
	padding: 30px 0;
}

#section3 {
	font-size: 14px;
	font-weight: bold;
	border-top-left-radius: 200px;
	border-top-right-radius: 200px;
}

#section4 {
	font-size:12px;
	border-bottom-left-radius: 200px;
	border-bottom-right-radius: 200px;
}

#section5 {
	padding:3em 1em 2em 1em;
	font-size:14px;
	background-color: rgba(139, 0, 0, 0.5);
	border-top-left-radius: 200px;
	border-top-right-radius: 200px;
}

#info-box{
	background-color: rgba(255, 255, 255, .5);
	border-radius: 40px;
	padding:20px;
	margin: 20px auto;
	max-width: 900px;
}

.par-pic{
display:block; 
margin:auto;
max-width: 100%;
height: auto;
max-height: 350px;
border-radius:20px;
object-fit:cover;
}

.steps {
	color:darkred;
	font-weight: bold;
}

ol {
list-style-position: inside;
padding-left: 0;
}

a {
	text-decoration: underline;
}

a:visited {
	color:black;
}


.row.align-items-stretch {
  align-items: stretch; 
}

.navbar {
  min-height: 80px; 
}

.alert-info {
  min-height: 80px; 
  display:flex;
  align-items: center;
  justify-content: center;
 
}

.card{
	border-radius: 15px;
transition: transform .2s;
}

.card:hover{
	transform: scale(1.03);
}
